<div class=" clients container">
    <div class="title">
        <h2>Korisnici</h2>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <th>id</th>
                <th>korisnicko ime</th>
            </thead>
            <tbody>
                <tr ng-repeat="row in vm.data">
                    <td><a href="#/clients/{{row.users.userid}}">{{row.users.userid}}</a></td>
                    <td>{{row.users.username}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>