<div class="clients container">
    <div class="title">
        <h2>{{vm.username}}</h2>
    </div>
    <div>
        <button ng-click="vm.changePasswordButton()" class="btn btn-primary">Izmeni lozinku</button>
    </div>
    <br>
    <br>
    <div ng-show="vm.changePassword">
        <form name="form" ng-submit="vm.login()" role="form">
        <div class="form-group group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="form-control" ng-model="vm.email" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email je obavezan</span>
        </div>
        <div class="form-group group" ng-class="{ 'has-error': form.newPassword.$dirty && form.newPassword.$error.required }">
            <label for="newPassword">Nova lozinka</label>
            <input type="password" name="newPassword" id="password" class="form-control" ng-model="vm.newPassword" required ng-pattern="vm.regularExpression" />
            <span ng-show="form.newPassword.$dirty && form.newPassword.$error.required" class="help-block">Lozinka je obavezna</span>
            <span ng-show="form.newPassword.$dirty && form.$invalid" class="help-block">Lozinka mora imati najmanje 8 karaktera, medju kojima jednu cifru, jedno slovo i jedan specijalni karakter.</span> 
        </div>
        <div class="form-actions">
            <button ng-click="vm.changePass()" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Ok</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
    </form>
    </div>
</div>